@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

header h1,h2{
    margin-top: 40px;
    text-align: center;
    text-decoration: bold;
}

body{
    line-height: 2.3em;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    max-width: 600;
    background-image: url("../images/double-bubble-dark.png");
    margin-top: 40px;
}

.top{
    padding: 0px;
}

.center,.top{
    line-height: 2.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: auto;
    color: aliceblue;
}

h1{
    color: brown;
    word-wrap: break-word;
}

h2{
    padding: 30px;
}

table, th, td {
    border: 2px solid rgba(185, 131, 131, 0.541);
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 100%;
}

td{
    padding-inline: 50px;
    text-align: center;
}

thead{
    font-weight: bolder;
}

.logo{
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    height: 50px;
    width: 50%;
}

div .navigation{
    color: white;
    list-style-type: none;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  li img{
    border-radius: 50%;
    padding: 10px 10px;
  }

  li{
    border-right: 1px solid #bbb;
  }

  thead{
      background-color: rgb(110, 27, 78);

  }

  thead tr th{
    color: #111;
  }