@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body{
  line-height: 2.3em;
  padding-top: 20px;
  font-family: 'Yatra One', cursive;
  font-weight: 900;
  font-size: 20px;
  background-image: url("../images/double-bubble-dark.png");
  margin-top: 40px;
}
header h1{
  margin-top: 40px;
  text-align: center;
  text-decoration: bold;
}
.logo{
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container{
    margin-top: 8%;
    margin-bottom: 8%;
}
.inner{
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease
}

.inner:hover img {
transform: scale(1.5)
}

div .navigation{
    color: white;
    list-style-type: none;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  li img{
    border-radius: 50%;
    padding: 10px 10px;
  }

  li{
    border-right: 1px solid #bbb;
  }
  P {
    font-family: 'Yatra One', cursive;
  }
  h2{
    color: brown;
    word-wrap: break-word;
}
.link img:hover {
  filter: grayscale(100%);
    transform: scale(1.1);
}